.HotelList {
  .row {
    margin-bottom: 10px;
    min-height: 40px;
  }

  .hotel-details,
  .price-details {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  .hotel-image {
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .top-right {
      background-color: #fff;
      color: maroon;
      font-weight: bold;
      position: absolute;
      top: 8px;
      left: 13px;
      padding: 5px;
    }
  }
  .hotel-details {
    padding-left: 0;
    margin-left: 20px;
    .hotel-details-title {
      margin-bottom: 0;
    }
    .hotel-details-address {
      color: gray;
      display: block;
    }
    .hotel-details-name {
      margin: 20px 0;
      color: maroon;
      text-decoration: underline;
      text-decoration-color: inherit;
    }
    .hotel-details-cancellation {
      color: green;
    }
  }
  .price-details {
    border-top: 1px solid #ccc;
    text-align: right;

    .price-details-currency {
      color: gray;
    }
    .price-details-amount {
      font-size: 32px;
    }
    .price-details-savings {
      color: maroon;
      font-size: 24px;
    }
  }
  .flex-container {
    display: flex;
    gap: 20px;
  }
}
